@import './variables';

body{
   font-family: 'Lato', sans-serif;
   -webkit-font-smooting: antialiased;
   color: $dark;
}

nav li:last-child a{
    background: $primary;
 &:hover{
        background: $primary-hover;
    }
}
nav li a{
    transition: $smooth;
    &:hover{
        color: $primary;
    }
}

section.hero{
    background: $secondry;
    min-height: calc(100vh - 86px);
}

.size{
    background: $secondry;
}
.add-to-cart{
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    &:hover{
        background: $primary;
        border-color: $pure;
        color: $pure;
    }
}
.btn-primary{
    background: $primary;
    transition: $smooth;
     &:hover{
        background: $primary-hover;
    }
}
section.cart{
    background: $secondry;

    .amount{
    color: $primary;
}
}

section.login{
    background: $secondry;
    min-height: calc(100vh - 86px);
    a{
        color: $primary;
     &:hover{
        color: $primary-hover;
    }
    }
   
}